<div>
    <h1>
        If you can see me, than you should be logged in B-)
    </h1>
    <h3>Where are you?</h3>
    <ul>
        <li>Context: {{context}}</li>
        <li>Realm: {{realm}}</li>
    </ul>
    <h3>Who are you?</h3>
    <ul>
        <li>User: {{user}}</li>
    </ul>

    <div>
        <ul>
            <li>Token expires: {{tokenExpires}}</li>
            <li>Tick: {{ticks}}</li>
            <li>Debug: {{debug}}</li>
        </ul>
    </div>

    <img *ngIf="hasAppDreiGrant" src="/drei/profil_ich.jpeg"/>

    <h3>Your realm permissions are</h3>
    <ul>
        <li *ngFor="let item of realmPermissions"><a href="{{item.link}}" target="_blank">{{item.txt}}</a></li>
    </ul>
    <h3>Your resource permissions are</h3>
    <ul>
        <li *ngFor="let item of resourcePermissions">{{item.txt}}: {{item.values}}</li>
    </ul>
</div>

